.kalender-text-container{
    background-color:blue;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 80px;
}

.rubrik-kalender {
    background-color: aquamarine;
    padding-top:5vh;
    padding-bottom: 5vh;

    background-image: url("./stjarnhimmelKvadrat.png");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
}

.valj-manad-och-dag {
    height: 70px;
    width: 100%;
    background-color: grey;
    text-align: center;
}

.rubrik-manad {
    font-size: 30px;
}

.siffror {
    margin-top: 10px;
    font-size: 14px;
}